<h2>{{ displayName | titlecase }}</h2>
<!-- <div class="flex-row" *ngIf="this.playlists.length > 0">
    <button
      mat-icon-button
      (click)="openCreatePlaylistDialog(source)"
      [matTooltip]="'Create Playlist'"
    >
      <mat-icon color="primary">add</mat-icon>
    </button>
  </div> -->
<div *ngIf="!playlistsLoading">
  @if(this.playlistsLoadError){
  <div
    class="flex-col justify-content align-center"
    style="width: 100%; gap: 5px"
  >
    <mat-icon color="warn">error</mat-icon>
    <div class="flex-row">
      <div>
        {{ "Playlists Failed to Load. Click refresh to try again" }}
      </div>
    </div>
    <button mat-icon-button (click)="refreshPlaylists()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  } @else {
  <div *ngIf="this.playlists.length > 0">
    <div class="playlists-grid-container">
      @for(playlist of this.playlists; track playlist){
      <playlist-large
        class="playlists-grid-item"
        [playlist]="playlist"
      ></playlist-large>
      }
    </div>
  </div>
  <div
    *ngIf="this.playlists.length === 0"
    class="flex-col justify-content align-center"
    style="width: 100%; gap: 5px"
  >
    <div>
      {{ "No " }}{{ this.displayName
      }}{{ " playlists found. Click below to create one!" }}
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="openCreatePlaylistDialog(this.source)"
    >
      <mat-icon>add</mat-icon>
      {{ "Create " }}{{ this.displayName }} {{ " Playlist" }}
    </button>
  </div>
  }
</div>
<div *ngIf="playlistsLoading" class="align-center justify-content flex-col">
  <mat-spinner></mat-spinner>
</div>
