:host{
    max-width: 100% !important;
    //max-height: 250px;
}

.playlists-grid-container{
    max-width: 100%;
    width: 100%;
    max-height: 250px;
    display: grid;
    grid-auto-flow:column;
    //grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill,    175px ); 
    //scroll-snap-type: mandatory;
    overflow-x: auto;
    //overflow-wrap: normal;
    gap: 24px; 
}

.playlists-grid-item{
    min-width: 175px;
    min-height: 200px;
    //max-width: 150px;
    scroll-snap-align: start;
    box-sizing: border-box;
    //overflow: hidden;
}

.heading-no-margin{
    margin-bottom: 0;
}