<div class="flex-container">
  <form class="center-form" [formGroup]="this.loginForm" (ngSubmit)="login()">
    <div class="justify-content-center"><h2>Login</h2></div>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Email" [formControlName]="'email'" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input type="password" matInput placeholder="Password" [formControlName]="'password'"/>
    </mat-form-field>
    <div class="justify-content-center">
    <button mat-raised-button color="primary" style="width: 50%;" type="submit">Login</button>
    
    </div>
    <a [routerLink]="['..', 'signup']" class="justify-content-center" style="padding-top: 10px;">Signup</a>
  </form>
</div>
