<div style="width: 100%">
  <h3>{{ source | titlecase }}</h3>
  <!--   <div class="toggle-grid-list-container">
    <button
      mat-icon-button
      (click)="(true)"
      [matTooltip]="'Create Spotify Playlist'"
    >
      <mat-icon color="primary">list</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="(true)"
      [matTooltip]="'Create Spotify Playlist'"
    >
      <mat-icon color="primary">grid_view</mat-icon>
    </button>
  </div> -->
  <div class="flex-row" *ngIf="this.playlists.length > 0">
    <button
      mat-icon-button
      (click)="openCreatePlaylistDialog(source)"
      [matTooltip]="'Create Playlist'"
    >
      <mat-icon color="primary">add</mat-icon>
    </button>
  </div>
  <div id="spotify-section">
    <div
      style="display: flex; align-items: center; width: 100%"
      *ngIf="!playlistsLoading"
    >
      @if(this.playlistsLoadError){
      <div
        class="flex-col justify-content align-center"
        style="width: 100%; gap: 5px"
      >
        <mat-icon color="warn">error</mat-icon>
        <div class="flex-row">
          <div>
            {{ "Playlists Failed to Load. Click refresh to try again" }}
          </div>
        </div>
        <button mat-icon-button (click)="refreshPlaylists()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      } @else {
      <div
        *ngIf="this.playlists.length > 0"
        style="display: flex; align-items: center; width: 100%"
      >
        <button
          mat-icon-button
          style="margin-bottom: 15px"
          (click)="spotifyCarouselBack()"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <div style="width: 90%">
          <ngx-slick-carousel
            class="carousel"
            style="width: 100%"
            #slickModalSpotify="slick-carousel"
            [config]="slideConfig"
            (init)="slickInit($event)"
          >
            @for (playlist of this.playlists; track playlist.imageUrl){
            <div ngxSlickItem class="slide">
              <!-- style="padding: 15px" -->
              <playlist-large [playlist]="playlist"></playlist-large>
            </div>
            }
          </ngx-slick-carousel>
        </div>
        <button
          mat-icon-button
          style="margin-bottom: 15px"
          (click)="spotifyCarouselNext()"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div
        *ngIf="this.playlists.length === 0"
        class="flex-col justify-content align-center"
        style="width: 100%; gap: 5px"
      >
        <div>
          {{ "No " }}{{ this.source | titlecase
          }}{{ " playlists found. Click below to create one!" }}
        </div>
        <button
          mat-raised-button
          color="primary"
          (click)="openCreatePlaylistDialog(this.source)"
        >
          <mat-icon>add</mat-icon>
          {{ "Create " }}{{ this.source | titlecase }} {{ " Playlist" }}
        </button>
      </div>
      }
    </div>
    <div *ngIf="playlistsLoading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
