:host {
    width: 100% !important;
    height: 100% !important;
    //display: flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    //text-align: center;
    align-content: center;
    align-items: center;
}

.heading-no-margin{
    margin-bottom: 0;
}

.toggle-grid-list-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
}