:host {
    width: 100%;
}

.grid-playlist-container{
    display: grid !important;
    grid-template-columns: repeat(auto-fit,250px);
    //gap: 20px;
    column-gap: 20px;
    width: 80%;
    justify-content: left;
}

.scrollable-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}