<h1>Transfer</h1>

<div class="flex-container">

<div class="flex-container-source">
  <app-source-selector [transferSide]="TransferSide.SOURCE"></app-source-selector>
  <app-source-selector [transferSide]="TransferSide.DESTINATION"></app-source-selector>
  <div>
    </div>
</div>

<div class="flex-container-playlists" style="padding-top: 30px;">
  
  <div style="display: flex; flex-direction: column; justify-items: center; height: 100%;">
    <h2 >Select Playlist</h2>
  <app-playlist-selector [transferSide]="TransferSide.SOURCE"></app-playlist-selector>
</div>
<div style="display: flex; flex-direction: column; justify-items: center; height: 100%;">
  <h2 >Preview</h2>
  <app-song-selector ></app-song-selector>
  </div>
  <button mat-raised-button (click)="openTransferDialog()">Begin Transfer</button>
 </div>
