<!-- <h1>Transfer Playlist</h1> -->

<mat-stepper
  labelPosition="bottom"
  #stepper
  style="background-color: transparent"
  [linear]="true"
>
  <mat-step>
    <ng-template matStepLabel>Select Source and Destination</ng-template>
    <div>
      <h1 class="title-center">Select Source and Destination</h1>
      <div class="flex-container-source">
        <app-source-selector
          [transferSide]="TransferSide.SOURCE"
          style="min-height: 300px"
        ></app-source-selector>
        <button
          mat-raised-button
          color="primary"
          style="align-self: center"
          matStepperNext
          [disabled]="!sourceAndDestinationReady"
        >
          Begin
        </button>
        <app-source-selector
          [transferSide]="TransferSide.DESTINATION"
          style="min-height: 300px"
        ></app-source-selector>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Select Playlist to Transfer</ng-template>
    <button mat-icon-button matStepperPrevious>
      <mat-icon>arrow_backward</mat-icon>
    </button>
    <h1 class="title-center">Select Playlist to Transfer</h1>
    <div class="step2-container">
      <div style="display: flex; flex-direction: column; gap: 10px">
        <app-playlist-selector
          [transferSide]="TransferSide.SOURCE"
        ></app-playlist-selector>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!this.transferReady"
          matStepperNext
        >
          Confirm Selection
        </button>
      </div>
      <app-playlist-details *ngIf="this.selectedPlaylist" [id]="this.selectedPlaylist.id" [source]="selectedPlaylist.source" [readonly]="true"></app-playlist-details>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel
      >Configure Destination Playlist Details</ng-template
    >
    <button mat-icon-button matStepperPrevious>
      <mat-icon>arrow_backward</mat-icon>
      
    </button>
    
    <div style="justify-content: center; display: flex;">
      <form
        [formGroup]="this.createDestinationPlaylistFormGroup"
        (ngSubmit)="initiateTransfer()"
      >
        
        <div class="transfer-summary-col">
          <div class="transfer-summary" *ngIf="this.selectedPlaylist">
             <div class="playlist-info">
    <img [src]="this.selectedPlaylist.imageUrl" class="playlist-cover-image" />
    <div class="playlist-text">
      <div class="flex-container-row" style="width:100%">
      <h1>{{ this.selectedPlaylist.name }}</h1>
      <img *ngIf="this.selectedPlaylist.source === SourceType.SPOTIFY" src="../../../assets/Spotify_Primary_Logo_RGB_Green.png" class="logo-source" [matTooltip]="'Spotify Playlist'">
      <img *ngIf="this.selectedPlaylist.source === SourceType.APPLE_MUSIC" src="../../../assets/Apple_Music_Icon_RGB_sm_073120.svg" class="logo-source" [matTooltip]="'Apple Music Playlist'"> 
      <img *ngIf="this.selectedPlaylist.source === SourceType.SYNCIFY" src="../../../assets/guitar_icon.jpg" class="logo-source" [matTooltip]="'Syncify Playlist'">  
      <img *ngIf="this.selectedPlaylist.source === SourceType.JSON" src="../../../assets/guitar_icon.jpg" class="logo-source" [matTooltip]="'JSON'">
      <img *ngIf="this.selectedPlaylist.source === SourceType.CSV" src="../../../assets/guitar_icon.jpg" class="logo-source" [matTooltip]="'CSV'">
      </div>
      <p>{{ this.selectedPlaylist.description }}</p>
      <p>{{ this.selectedPlaylist.songCount }}{{ " songs" }}</p>

    </div>
  </div>
            <mat-icon>arrow_forward</mat-icon>
            @if(this.selectedDestination === SourceType.SPOTIFY){
              <img src="../../../assets/Spotify_Primary_Logo_RGB_Green.png" class="logo-destination"> 
            }
            @if(this.selectedDestination === SourceType.APPLE_MUSIC){
              <img src="../../../assets/Apple_Music_Icon_RGB_sm_073120.svg" class="logo-destination">
            }
            @if(this.selectedDestination === SourceType.SYNCIFY){
              <img src="../../../assets/guitar_icon.jpg" class="logo-destination">
            }
            
          </div>

          <div class="transfer-dialog-form">
            <h1 class="title-center">Configure Destination</h1>
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="description">
              <mat-label>Description</mat-label>
              <input matInput formControlName="description" />
            </mat-form-field>
            <button
          mat-raised-button
          type="submit"
          color="primary"
          matStepperNext
          [disabled]="this.createDestinationPlaylistFormGroup.invalid === true"
          matStepperNext
        >
          Begin Transfer
        </button>
        <!-- <button mat-button mat-dialog-close>Cancel</button> -->
          </div>
        </div>
         
      </form>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel
      >Transfer</ng-template
    >
    <div *ngIf="!this.transferComplete">
    <h2>Transfer In Progress</h2>
    <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
  </div>
    <div *ngIf="this.transferComplete">
      <h2>Transfer Complete</h2>
    </div>

  </mat-step>
</mat-stepper>
