:host{
    width: 100% !important;
    height: 100%;
    //padding: 3%;
}

.top-dashboard-row{
    display: flex;
    gap: 3%;
    padding-bottom: 1%;
}

.services-container{
    flex: 0 0 25%;
}

.playlists-container{
    flex: 0 0 75%;
    width: 75%;
    //flex-grow: 0;
}

.gap-3{
    gap:3%;
}