:host{
    width: 100% !important;
    height: 100%;
    //padding: 3%;
}

.top-dashboard-row{
    display: flex;
    gap: 3%;
    padding-bottom: 1%;
}

.services-container{
    flex: 0 0 25%;
    max-width: 25%;
    min-width: 280px;
}

.playlists-container{
    flex: 0 0 75%;
    max-width: 75%;
    //box-sizing: border-box;
    //overflow: hidden;
    //flex-grow: 0;
}

.gap-3{
    gap:20px;
}

.playlists-wrapper{
padding-bottom: 30px;
}