<!-- <div>
  <h1>Home</h1>
  <div class="header-bottom-border"></div>
</div> -->

<div class="top-dashboard-row">
  <spotify-profile></spotify-profile>
  <apple-music-profile></apple-music-profile>
</div>

<div class="flex-row" style="height: 100%; width: 100%">
  <div style="background-color: green" class="services-container">
    <app-services></app-services>
  </div>
  <div class="playlists-container">
    <app-playlists style="width: 100% !important"></app-playlists>
  </div>
</div>

<!-- <app-playlists></app-playlists> -->
