<form *ngIf="this.transferInitiated === false" [formGroup]="this.createDestinationPlaylistFormGroup" (ngSubmit)="initiateTransfer()">
<h2 mat-dialog-title>Configure Destination</h2>
<mat-dialog-content>

  <div>
    <div class="transfer-dialog-form">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="description">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="submit" [disabled]="this.createDestinationPlaylistFormGroup.invalid === true">Begin Transfer</button>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button mat-dialog-close cdkFocusInitial>Ok</button> -->
</mat-dialog-actions>
</form>

<div *ngIf="this.transferInitiated === true">
<h2 mat-dialog-title>Transfer In Progress</h2>
<mat-dialog-content>

  <div style="display: flex; flex-direction: column; gap: 20px;">
    <div>
 {{'Transfered '}} {{i}} {{'of '}}{{total}}{{' Songs'}}</div>
 <mat-progress-bar mode="determinate" value="progress"></mat-progress-bar>
 </div>
</mat-dialog-content>
<mat-dialog-actions>
  <!-- <button mat-button>Begin Transfer</button> -->
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button mat-dialog-close cdkFocusInitial>Ok</button> -->
</mat-dialog-actions>
</div>
