
.playlist-container{
    display: flex;
    flex-direction: column;
    //min-width: 200px;
    //width: 12vw;
        //min-width: 150px;
        //max-width: 200px;
    //max-width: 250px !important;
    border-radius: 5px;
}

.playlist-info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px
}

 .playlist-cover-image{
   /*  width: 12vw;
    min-width: 150px;
    max-width: 250px; */
    //width: 150px;
    cursor: pointer;
    border-radius: 5px;
   // border: 1px grey solid;
} 

.hovered{
    filter: brightness(90%);
}

.spotify-logo {
    width: auto;
    height: 20px;
}