<div
  class="playlist-container"
  (mouseenter)="hovered = true"
  (mouseleave)="mouseLeave()"
>
  <img
    [src]="this.playlist.imageUrl"
    (error)="imageLoadFailed($event)"
    class="playlist-cover-image"
    [ngClass]="{ hovered: this.hovered }"
    (click)="this.openPlaylistDetails()"
  />
  <div style="margin-top: -50px" *ngIf="hovered">
    <!-- <button mat-icon-button><mat-icon style="color: white;">subdirectory_arrow_right</mat-icon></button> -->
    <button
      mat-icon-button
      [matMenuTriggerFor]="playlistMenu"
      #menuTrigger="matMenuTrigger"
      (click)="openMenu()"
    >
      <mat-icon style="color: white">more_horiz</mat-icon>
    </button>
    <mat-menu #playlistMenu>
      <button
        *ngIf="this.playlist.source === SourceType.SPOTIFY"
        mat-menu-item
        (click)="viewPlaylistInSpotify()"
      >
        <mat-icon>open_in_new</mat-icon> View In Spotify
      </button>
      <button
        *ngIf="this.playlist.source === SourceType.SYNCIFY"
        mat-menu-item
        (click)="deletePlaylist()"
      >
        <mat-icon>delete</mat-icon> Delete
      </button>
      <button mat-menu-item><mat-icon>trending_flat</mat-icon> Transfer</button>
    </mat-menu>
  </div>
  <div class="playlist-info">
    <div style="padding-top: 6px">{{ this.playlist.name }}</div>
    <img
      *ngIf="this.playlist.source === SourceType.SPOTIFY"
      style="margin-top: 5px"
      src="../../../assets/Spotify_Primary_Logo_RGB_Green.png"
      class="spotify-logo"
      [matTooltip]="'Spotify Playlist'"
    />
    <img
      *ngIf="this.playlist.source === SourceType.APPLE_MUSIC"
      style="margin-top: 5px"
      src="assets\Apple_Music_Icon_RGB_sm_073120.svg"
      class="spotify-logo"
      [matTooltip]="'Spotify Playlist'"
    />
  </div>
</div>
