<div class="flex-row gap-15">
  <img src="/assets/Apple_Music_Icon_RGB_sm_073120.svg" class="spotify-logo" />
  <div class="flex-row track-section">
    @if(this.currentPlayerItem){
    <img [src]="this.currentPlayerItem.imageUrl" class="player-album-cover" />
    } @else {
    <img [src]="'assets/defaultAlbum.jpg'" class="player-album-cover" />
    }

    <div class="track-details" *ngIf="this.currentPlayerItem">
      <span class="track-name">{{ this.currentPlayerItem.name }}</span>
      <span class="track-artist">{{ this.currentPlayerItem.artist }}</span>
    </div>
  </div>
  <div>
    <div class="flex-row align-center space-between">
      <!-- justify-center -->
      <div #emptySpacer style="width: 120px"></div>
      <div #buttonGroup class="gap-15 flex-row">
        <button
          class="small-icon-button"
          mat-icon-button
          (click)="prevTrack()"
          [disabled]="!this.deviceReady"
        >
          <mat-icon class="icon-size">skip_previous</mat-icon>
        </button>
        <button
          class="small-icon-button"
          *ngIf="this.paused"
          [disabled]="!this.deviceReady"
          mat-icon-button
          (click)="togglePlay()"
        >
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button
          class="small-icon-button"
          [disabled]="!this.deviceReady"
          *ngIf="!this.paused"
          mat-icon-button
          (click)="togglePlay()"
        >
          <mat-icon>pause</mat-icon>
        </button>
        <button
          class="small-icon-button"
          mat-icon-button
          (click)="nextTrack()"
          [disabled]="!this.deviceReady"
        >
          <mat-icon>skip_next</mat-icon>
        </button>
      </div>
      <mat-slider min="0" max="1" step="0.1" [disabled]="!this.deviceReady">
        <input
          matSliderThumb
          [(ngModel)]="volume"
          (ngModelChange)="onVolumeChange()"
          #volumeslider
        />
      </mat-slider>
    </div>
    <div
      class="flex-row align-center gap-5 negative-margin-top progress-bar"
      #progressBar
    >
      <div class="track-time">{{ this.trackPosition | millisecondToTime }}</div>

      <mat-progress-bar
        mode="determinate"
        [value]="this.trackPositionAsDecimal"
      ></mat-progress-bar>
      <div class="track-time">{{ this.trackDuration | millisecondToTime }}</div>
    </div>
  </div>
</div>
