.example-spacer {
    flex: 1 1 auto;
    gap: 20px;
}

.toolbar-button {
    margin-right: 30px;
    font-size: 20px;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

.example-container {
    //width: 500px;
    //width: 20%;
    height: 100%;
    width: 100%;
    //border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: fit-content;
    padding: 3%;
    width: 90%
    //align-items: center;
    //justify-content: center;
}

.example-sidenav {
    //padding: 50px;
    width: 10%;
}