.example-spacer {
    flex: 1 1 auto;
    gap: 20px;
}

.toolbar-button {
    margin-right: 30px;
    font-size: 20px;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}