/* :host{
    height: 100%;
} */

.favicon{
    height: 50px;
    width: auto;
}

.toolbar-position{
    position: relative !important; 
    z-index: 5; top: 0;
}

.toolbar-flex{
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    //gap: 20px;
}

.toolbar-button {
    margin-right: 30px;
    font-size: 20px;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

.example-container {
    //height: calc(100vh - 64px);
    height: 100%;
    //height: calc(100% - 64px);
    max-width: 100% !important;
    width: 100% !important;
}

.example-sidenav-content {
    display: flex;
    flex-grow: 1;
    //flex: 1;
    //padding: 3%;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 30px;
    //padding-left: 1%;
    //padding-top: 1%;
    height: calc(100% - 64px);
    max-width: 100% !important;
    //height: 97%;
}

.example-sidenav {
    //padding: 50px;
    width: 13%;
    border-radius: 0;
    //border-right: 1px solid;
    //border-color: gainsboro;
}

.align-center{
    align-items: center;
}