 <mat-toolbar  color="primary" [class.mat-elevation-z20]="true" style="position: sticky !important; top: 0">
    <span>Music Store</span>
    <span class="example-spacer"></span>
    <nav class="right-button-padding">
    <!-- <a class="toolbar-button" (click)="scrollToTop()">Home</a>  -->
    <a routerLink="login" routerLinkActive="active"  class="toolbar-button portfolio-font">Login</a>
    <a routerLink="signup" routerLinkActive="active"  class="toolbar-button">Signup</a> 
    <!-- <a routerLink="contact" class="toolbar-button" (click)="scrollToRouterOutlet()">Contact</a> -->
    </nav>
  </mat-toolbar>
  <button (click)="this.isValid()" mat-button>
aaa
    </button>
