@use 'sass:map';
@use '@angular/material' as mat;

 @mixin color($theme) {
    .neutral-20{
         background-color: mat.get-theme-color($theme, neutral, 10);
     }

     .neutral-98{
        background-color: mat.get-theme-color($theme, neutral, 40);
     }

     .primary-light{
        background-color: mat.get-theme-color($theme, neutral, 10);
     }

     $neutral-96: mat.get-theme-color($theme, neutral, 20);
     $neutral-90: mat.get-theme-color($theme, neutral, 20);
     $primary-90:mat.get-theme-color($theme, neutral, 10);

   .fade-into-grey {
      background-image: linear-gradient(180deg, $neutral-96, $primary-90)
   }

 }