@use 'sass:map';
@use '@angular/material' as mat;

 @mixin color($theme) {
    .neutral-20{
         background-color: mat.get-theme-color($theme, neutral, 96);
     }

     .neutral-98{
        background-color: mat.get-theme-color($theme, neutral, 98);
     }

     .primary-light{
        background-color: mat.get-theme-color($theme, primary, 90);
     }

     $neutral-96: mat.get-theme-color($theme, neutral, 96);
     $neutral-90: mat.get-theme-color($theme, neutral, 90);
     $primary-90:mat.get-theme-color($theme, primary, 90);

   .fade-into-grey {
      background-image: linear-gradient(180deg, $neutral-96, $primary-90)
   }

/*      .toolbar-color{
        background-color: mat.get-theme-color($theme, neutral, 20);
     } */

 }