@use 'sass:map';
@use '@angular/material' as mat;

@mixin global_flex($theme) {
    .flex-row{
        display: flex;
        flex-direction: row;
    }

    .flex-fill-container{
        display: flex;
        justify-content: space-between;
        /* Adjust spacing */
        align-items: stretch;
        /* Ensure children fill the container vertically */
    }

    /* .flex-fill-item{
        flex-grow: 1;
    } */

    .flex-col{
        display: flex;
        flex-direction: column;
    }

    .justify-center{
        justify-content: center;
    }

    .align-center{
        align-items: center;
    }

    .space-between{
        justify-content: space-between;
    }
}