<div class="profile-wrapper">

<img src="../../../assets/Apple_Music_Icon_RGB_sm_073120.svg" class="spotify-logo"> 

<mat-card class="neutral-20">
    <mat-spinner *ngIf="this.isLoading"></mat-spinner>
    <div *ngIf="!this.isLoading && !this.notAuthorized">
    <mat-card-header>
        <div mat-card-avatar > <img [src]="this.profileImageUrl" alt="Profile Picture" class="profile-image"></div>
        <!-- <mat-card-title>{{this.spotifyUser.display_name}}</mat-card-title>
        <mat-card-subtitle>{{this.spotifyUser.email}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button [matMenuTriggerFor]="spotifyDetailsMenu"><mat-icon>more_horiz</mat-icon></button>
    <mat-menu #spotifyDetailsMenu >
        <!-- <button mat-menu-item (click)="navigateToSpotifyAccount()"> <mat-icon>trending_flat</mat-icon> Go To Apple Music</button>
        <button mat-menu-item (click)="disconnectSpotifyAccount()"> <mat-icon>close</mat-icon> Disconnect Account</button> -->
    </mat-menu>
  </mat-card-actions>
    </div>
    <div *ngIf="!this.isLoading && this.notAuthorized">
        <!-- <button mat-button color="primary" (click)="this.connectSpotifyAccount()">Connect Spotify Account</button> -->
        </div>
</mat-card>
</div>
