
<div class="table-wrapper">
<div class="scrollable-table">

    <mat-table [dataSource]="this.songsDataSource" >
<!-- <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container> -->

        <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Song </mat-header-cell>
    <mat-cell *matCellDef="let song"> 
        <div class="song-column">
        <img [src]="song.image_url" class="table-album-cover">
        {{song.name}} </div></mat-cell>
    </ng-container>

    <ng-container matColumnDef="artist">
    <mat-header-cell *matHeaderCellDef> Artist </mat-header-cell>
    <mat-cell *matCellDef="let song"> {{song.artist}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="album">
    <mat-header-cell *matHeaderCellDef> Album </mat-header-cell>
    <mat-cell *matCellDef="let song"> {{song.album}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
    <mat-cell *matCellDef="let song"> {{song.time}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="songColumns; sticky:true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: songColumns;"></mat-row>
    </mat-table>

    <div *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</div>

</div>
</div>
