
<mat-card class="neutral-20" *ngIf="this.sourceSelected === true">
  <div style="padding: 20px;">
        <h2 >Select Playlist</h2>
<div class="scrollable-table">
<mat-table mat-table  [dataSource]="this.playlistsDataSource" >
  <ng-container matColumnDef="select">
    <!-- <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th> -->
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? rowSelected(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let playlist"> 
        <div class="name-column">
        <img [src]="playlist.image_url" class="table-album-cover">
        {{playlist.name}} </div></td>
    </ng-container>

     <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef> Source </th>
    <td mat-cell *matCellDef="let playlist"> {{playlist.source}} </td>
    </ng-container>

    <ng-container matColumnDef="songCount">
    <th mat-header-cell *matHeaderCellDef> Songs </th>
    <td mat-cell *matCellDef="let playlist"> {{playlist.songCount}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns;" (click)="rowSelected(row)"></tr>
</mat-table>
</div>
</div>
</mat-card>