@use '@angular/material' as mat;

.service-selection{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 200px 200px;
}

.single-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-direction: column;
}

.name-column {
    display: flex;
    align-items: center;
    //justify-content: center;
    gap: 20px;
    
}

.table-album-cover {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

