<div class="flex-container">
  <form class="center-form" [formGroup]="this.signupForm" (ngSubmit)="register()">
    <div class="justify-content-center"><h2>Sign Up</h2></div>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Email" [formControlName]="'email'" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Username" [formControlName]="'username'"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Password" [formControlName]="'password'"/>
    </mat-form-field>
    <div class="justify-content-center">
    <button mat-raised-button color="primary" style="width: 50%;" type="submit">Sign Up</button>
    </div>
  </form>
</div>
