.playlist-cover-image {
    width: 250px;
    border-radius: 5px;
}

.playlist-info {
    display: flex;
    gap: 50px;
    padding-bottom: 5%;
}

.playlist-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.table-album-cover {
    width: 40px;
    border-radius: 5px;
}

.song-column {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-container{
    display: flex;
    gap:10px
}