:host{
    width: 90% !important;
    max-height: 100% !important;
}

.flex-container-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: inherit;
    gap:10px;
}

.playlist-cover-image {
    width: 250px;
    border-radius: 5px;
}

.hovered {
    filter: brightness(60%);
}

.playlist-info {
    display: flex;
    gap: 50px;
    padding-bottom: 2%;
}

.playlist-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.table-album-cover {
    width: 40px;
    border-radius: 5px;
}

.song-column {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-container{
    display: flex;
    gap:10px
}

.scrollable-table {
    height: 45vh !important;
    overflow: auto;
    // width: 50%;
}

.spotify-logo {
    width: auto;
    height: 30px;
}