/* :host{
    height: 50% !important;
} */

.align-center{
    align-items: center;
}

.track-section{
    align-items: center;
    gap: 5px;
}

.track-details {
    display: flex;
    //align-items: center;
    justify-content: left;
    gap: -5px;
    flex-direction: column;
}

.player-album-cover {
    width: 40px;
    height: 40px;
    //height: auto;
    border-radius: 5px;
}

.profile-image {
    border-radius: 5px;
}

.card-size{
    height: 80%;
}

.track-name{
    //margin-top: 5px;
    line-height: 20px;
    font-size: small;
    font-weight: 500;
}

.track-artist {
    font-size: small;
    line-height: 20px;
    //margin-bottom: 5px;
}

.track-time{
    font-size: small;
    line-height: 15px;
}

.gap-5{
    gap:5px;
}